// Sass of the carousel container. His position is relative so the other element can overlap it.
.carousel-container {
    max-width: 1240px;
    height: 415px;
    margin:25px 100px 0 100px;
    position: relative;
    @media only screen and (min-width: 1440px) {
        margin: 25px auto 0 auto;
    };
    @media only screen and (max-width: 1024px) {
        margin: 25px 50px 0 50px;
    };
    @media only screen and (max-width: 750px) {
        margin: 20px 20px 0 20px;
        max-height: 255px;
    };
    /* Sass of the image, the height and width are set and object
        it so the picture doesn't strech or is distorded.*/
    &__image {
        height: 100%;
        width: 100%;
        border-radius: 25px;
        object-fit: cover;
    }
    @media only screen and (max-width: 750px) {
        max-height: 255px;
    };
    /* Sass of the previous button. Its position is absolute so it can overlap
        onto the container and its placed with left and top.*/
    &__previous-button {
        position: absolute;
        left:3%;
        top: 43%;
        :hover {
            cursor: pointer;
        }
        @media only screen and (max-width: 1024px) {
            width: 40px;
            height: 70px;
        };
        @media only screen and (max-width: 750px) {
            width: 30px;
            height: 50px;
        };
        @media only screen and (max-width: 420px) {
            width:20px;
            height: 40px;
        };
    }
    /* Sass of the next button. Its position is absolute so it can overlap
        onto the container and its placed with right and top.*/
    &__next-button {
        position: absolute;
        right:3%;
        top: 43%;
        img:hover {
            cursor: pointer;
        };
        @media only screen and (max-width: 1024px) {
            width: 40px;
            height: 70px;
        };
        @media only screen and (max-width: 750px) {
            width: 30px;
            height: 50px;
        };
        @media only screen and (max-width: 420px) {
            width:20px;
            height: 40px;
        };
    }
    /* Sass of the number's info. Its position is absolute so it can overlap
        onto the container and its placed with left and bottom.*/
    &__picture-number-info {
        position: absolute;
        left: 50%;
        bottom: 2%;
        color: white;
        font-weight: bolder;
    }
}