@import '../../sass/Utils/variables.scss'; 
@import '../../sass/Utils/mixin.scss'; 

// Sass of the ratin function. It set the margin to position the elements.
.rating-container{
    @include medium-tablet {
        margin: auto 0px;
    }
    &__star {
        height: 30px;
        width: 30px;
        @include small-tablet {
            height: 25px;
            width: 25px;
        }
        @include medium-mobile {
            height: 15px;
            width: 15px;
        }
    }
}