@import '../../sass/Utils/variables';
@import '../../sass/Utils/mixin';


/* SCSS of the logement page, it contain the carousel componant and the informations about the
     appartement and the host,  It set the height of the page,the margin and the padding to 0 */
.logement{
    min-height: 80vh;
    margin: 0;
    padding: 0;
}

/* SCSS of the logement main, the height, width, margin and element are set usin flex-box. */
.logement-main{
    min-height: 40vh;
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    margin: 30px 100px 0 100px;
    // Responsive of the main which change the largin to positionn the container width different screen sizes.
    @media only screen and (min-width: 1440px) {
        margin:43px auto 0 auto;
    }
    @media only screen and (max-width: 1040px) {
        margin: 30px 50px 0 50px;
    };
    @include large-tablet {
        margin: 20px 20px 0 20px;
    };
    /* SCSS of the logement main container? it contain all the element apart from the collapse.
         It set the height and the position with flexbox */
    &__container{
        height: 120px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // Responsive, it set the height and change the direction to column for smaller screens. 
        @include medium-tablet{
            height: 100%;
            flex-direction: column;
        }
        /* SCSS of the infos container. it set the direction and space the 
            elements between each other and set the color of the texts*/
        &__infos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $tertiary-color;
        // SCSS of the title. It set the font size, the font weight and the margin
            &__title{
                font-size: 36px;
                font-weight: 500;
                margin: 0;
                // Responsive, it change the font size in two different screen sizes.
                @include medium-mobile {
                    font-size: 18px;
                }
                @media only screen and (max-width: 940px) {
                    font-size: 25px;
                }
            }
            // SCSS of the location. It set the font size, the font weight and the margin.
            &__location{
                font-size: 18px;
                font-weight: 500;
                margin: 0;
                // Responsive? It change the font size and the margin.
                @include medium-tablet {
                    margin: 10px 0;
                    font-size: 14px;
                }
            // SCSS of the tags container, it set the elements into row, the padding, the margin and the font setting.  
            }
            &__tags {
                display: flex;
                flex-direction: row;
                list-style: none;
                margin: 0;
                padding: 0;
                color: white;
                font-size: 14px;
                // Responsive, it change the margin at 674px and under
                @include medium-tablet {
                    margin: 10px 0;
                }
                // SCSS of each tag element, set the size, how they are center in the element, the background color, the margin and the padding.
                & li {
                    width: 140px;
                    height: 22px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $tertiary-color;
                    border-radius: 10px;
                    margin-right: 10px;
                    padding-top: 3px;
                    // Responsive, it change the font size of the text at two different breakpoint.
                    @include medium-mobile {
                        font-size: 10px;
                    }
                }
            }
        }
        /* SCSS of the host container with the infos and the rating inside,
             the elements will be display with flexbox in column with a space between them.*/
        &__host{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // Responsive, at 674px and under the display will change into row so the element will be next to each other.
            @include medium-tablet {
                flex-direction: row-reverse;
            }
            // SCSS of the info element, set with flexbox and display in row.
            &__info{
                display: flex;
                flex-direction: row;
                // SCSS of the name, flexbox display it into a column, the color is chosen en its align on the right
                &__name{
                    width: 80px;
                    display: flex;
                    flex-direction: column;
                    color: $tertiary-color;
                    text-align: right;
                    font-size: 18px;
                    font-weight: 500;
                    padding-right: 10px;
                    @include small-tablet {
                        font-size: 12px;
                    }
                }
                // SCSS of the picture element, the height, width and border.
                &__picture{
                    height: 64px;
                    width: 64px;
                    border-radius: 50%;
                    @include small-tablet {
                        height: 40px;
                        width: 40px;
                        margin: auto 0;
                    }
                }
            }
        }
    }
    // SCSS of the collapses, they're display with flexbox into a row and there is a space between them.
    &__collapse {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 30px;
        // Responsive, at 450px and under the display become column instead of row.
        @include medium-mobile {
            flex-direction: column;
        }
        // SCSS of each element who contain each collapse. The width is set then the responsive change the with at 450px and under.
        &__element{
            width: 47%;
            height: 20%;
            @include medium-mobile {
                width: 100%;
            }
            & .collapse-container {
                padding: 0;
                margin: 10px 0 10px 0;
            }
            &  .collapse-container-open {
                margin: 10px 0 10px 0;
            }
        }
    }
}
