// SCSS of the A propos page who contain a banner and the collapses component
.container{
    margin: 43px 100px 0 100px;
    padding-bottom: 200px;
    // Responsive 
    @media only screen and (max-width: 750px) {
        font-size: 16px;
        height: 500px;
    };

    @media only screen and (max-width: 520px) {
        font-size: 14px;
    };
}