// SCSS of the banner A propos component with the media queries for the responsive
.A-propos-banner-container{
    display:flex;
    justify-content: center;
    padding: 43px 100px 0 100px;
    height: 223px;
    
    @media only screen and (max-width: 1024px) {
        padding: 30px 50px 0 50px;
    };
    @media only screen and (max-width: 750px) {
        padding: 20px 20px 0 20px;
    };
    
    // SCSS of the image version laptop wich is display until the  screen size of 375px
    &__image-desktop{
        border-radius: 25px;
        max-width: 100%;
        object-fit: cover;
        display: block;
        opacity: 0.8;

        @media only screen and (max-width: 375px) {
            display: none; 
        }; 
    }

    // SCSS of the image version mobile wish is diplay when the screen is of the size of 375px or less
    &__image-mobile{
        background-image: url();
        display: none;
        opacity: 0.8;
        @media only screen and (max-width: 375px) {
            display: block;
            border-radius: 10px;
            width: 100%;
            object-fit: cover;
        };
    }
};