@import'../../sass/Utils/variables.scss';

// Sass of the Error's main container that is display with flex-box 
.error-container{
        min-height: 70vh;
        display:flex;
        flex-direction: column;
/* Sass of the top contain which set height, the margins and how its display
     with flex-box of the error's image and the title. */
    &__top{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: 45vh;
        margin: 0px auto 0 auto;
        /* Sass of the error's image. It set the margin to center the image and the width.
             The responsive adapt the image at two different sizes */
        &__image{
            margin: 0 auto 0 auto;
            width: 30%;
            // Media queries of the image to make it bigger
            @media only screen and (max-width: 1024px) {
                width: 40%;
            };
            // Media queries of the image to make it bigger then change the margin to lower the image.
            @media only screen and (max-width: 750px) {
                width: 50%;
                margin: auto auto 0 auto;
                padding-top: 10%;
            };
        }
        // Sass of the title. It set the margin, change the color, the size and align the text in the center
        &__title{
            margin: 0 auto 40px auto;
            color:$tertiary-color;
            font-size: 36px;
            text-align:center;
            // Media queries of the title. It reduce the font size
            @media only screen and (max-width: 1024px) {
                font-size: 25px;
            };
            // Media queries of the title. It change the margin top from auto to 5% and change the diplay of the title to make it in two lines
            @media only screen and (max-width: 750px) {
                margin: 5% auto auto auto;
                display: flex;
                flex-direction: column;
            };
            // Media queries of the title. It change the font size to smaller 
            @media only screen and (max-width: 520px) {
                font-size: 18px;
            };
        }
    }
    // Sass of the Link. It set the magin to auto to center it, set the color and the font size.
    &__link{
        margin: auto;
        color:$tertiary-color;
        font-size: 18px;
        // Media queries of the Link. It change the font size.
        @media only screen and (max-width: 520px) {
            font-size: 14px;
        };
    }
}