@import'../../sass/Utils/variables.scss';

// SCSS of the Error container which contain an image, a title and a link
.error-container{
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    // height:85vh;
    // align-items: center;
    // height: auto;
    // flex-grow: 1;
    // position: relative;

    &__image{
        width: 597px;
        margin: auto;
    }

    &__title{
        margin: auto;
        color:$tertiary-color;
        font-size: 36px;
    }

    &__link{
        margin: auto;
        color:$tertiary-color;
        font-size: 18px;
    }
}