@import"../../sass/Utils/variables.scss";

// SCSS of the collapse component wich contain the bar and the text
.collapse-container{
    display: flex; 
    flex-direction: row;
    max-width:1023px;
    margin: 31px auto 0 auto;
    // When the mouse is over the collapse bar the cursor change to look clickable
    :hover {
        cursor: pointer;
    }
    // Responsive of the component 
    @media only screen and (max-width: 750px) {
        margin-top: 20px;
    };   

    // SCSS of the collapse component's bar and its responsive
    &__button{
        background-color: $tertiary-color;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-height: 47px;
        border: 0;
        border-radius: 5px;   
        @media only screen and (max-width: 1380px) {
            max-width: 100%;
        };
        @media only screen and (max-width: 520px) {
            height: 30px;
        };

        // SCSS of the title's bar with 2 sizes responsive changes
        &__title{
            color: $primary-color;
            font-weight: normal;
            font-size: 24px;
            padding-left: 18px;   
            // At two different screen'size the font size is change to make it more responsive     
            @media only screen and (max-width: 750px) {
                font-size: 16px;
            };        
            @media only screen and (max-width: 520px) {
                font-size: 14px;
            }
        }

        // SCSS of the image's bar, the arrow and its responsive
        &__image{
            color: $quaternary-color;
            justify-content: center;
            padding-right: 18px;       
            @media only screen and (max-width: 750px) {
                height: 12px;
                width: 16px;
            };
        }
    }
    
}

// SCSS of the Collapse composant if the State is on true so the text is shown, with the responsive
.collapse-container-open{
    display: flex; 
    flex-direction: column;
    max-width:1023px;
    margin: 31px auto 30px auto;
    // When the mouse is over the collapse bar the cursor change to look clickable
    :hover {
        cursor: pointer;
    }
    // SCSS of the collapse's description and the responsive 
    &__description{
        max-width: 1023px;
        background-color: $secondary-color;
        color: $tertiary-color;
        list-style-type: none;   
        font-size: 24px;
        border-radius: 5px;
        margin: 0;
        padding: 25px 27px 25px 18px;  
        // Responsive that change the font size of the text.
        @media only screen and (max-width: 750px) {
            font-size: 18px;
        };   
        // responsive that change the font size and the padding of the text.
        @media only screen and (max-width: 520px) {
            font-size: 14px;
            padding: 15px 27px 10px 18px; 
        };
    }
}