@import '../../sass/Utils/variables.scss'; 
@import '../../sass/Utils/mixin.scss'; 

// Sass of the header container who contain the website's logo and the navbar
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    padding: 40px 100px 0 100px;
    margin: 0 auto;
    // Responsive of the header container
    @include laptop {
        padding: 20px 50px 0 50px;
    };
    @include large-tablet {
        padding: 20px 20px 0 20px;
    };
    // Responsive of the website's logo 
    &__logo {
        @include large-tablet {
            max-width: 100%;
        };
    }
    // Sass and responsive of the nav bar container
    &__list{
        width: 200px;
        display: flex;
        justify-content: space-between;
        // Responsive that change the caracter to capital at a wdth of 520px.
        @include small-tablet {
            text-transform: uppercase;
            margin-left: 50px;
        };
        @media only screen and (max-width: 350px) {
            margin-left: 20px;
        };
        /* Sass of the two navbar's link. it set the color, take of full time
             underline and set it one when the mouse is over it. */
        &__links{
            color: #FF6060;
            font-size: 20px;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            };   
            @include small-tablet {
                font-size: 12px;
                font-weight: 500;
            };
        }
    }
}