html,
body {
  margin: 0;
  padding: 0;
  // min-height: 100%;
  display:block;
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
  // padding-bottom: 100px;
}

/* Monteserrat Police  */
* {
  font-family: 'Montserrat', sans-serif;
}
