@import'../../../sass/Utils/variables.scss';
@import'../../../sass/Utils/mixin';

// SCSS of the banner component in the home page with the media queries for the responsive
.home-banner-container{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    max-height: 223px;
    padding: 43px 100px 43px 100px;
    @include laptop {
        padding: 30px 50px 0 50px;
    };
    @include large-tablet {
        padding: 20px 20px 0 20px;
    };
    @include mobile {
        justify-content: flex-start;
    };
    // Image of the home banner component with a responsive at 750px
    &__image{
        height: auto;
        object-fit: cover;
        max-width: 100%;
        border-radius: 25px;
        // Here filter is use to make the image darker.
        filter: brightness(60%);
        @include large-tablet {
            border-radius: 10px;
            height: 111px;
            width: 100%;
        };
    }

    /* The title of the banner wich is set with the position to 
        overlap the picture and the responsive to adapt the text size */
    &__title{
        position: absolute;
        font-weight: 500;
        font-size: 48px;
        color: $primary-color;
        @media only screen and (max-width: 1235px) {
            font-size: 30px;
        };

        @media only screen and (max-width: 850px) {
            font-size: 24px;
        };
        /* Here column is use to at the span in the text go to 
            the line when the screen with is 500px or under. */
        @include mobile {
            width: 217px;
            display: flex;
            flex-direction: column;
            padding-left: 20px;
        };
    }
}